.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(white);
  /* padding-bottom: 60px; */
  /* justify-content: space-between; */
  padding-top: 45px;
}

form > input#username {
  width: 220px;
}

.signup-css input {
  padding-top: 15px;
}

.signup-css {
  margin-top: 35px;
}
#username {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
  width: 200px;
}

button.css-button-3d--green {
  margin-top: 40px;
  margin-bottom: 25px;
}

#email {
  margin-top: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
}
#password {
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid;
}

.signup-logo {
  width: 200px;
  height: 300px;
}

.signup-create {
  background-color: var(--GHGreen);
  width: 225px;
  height: 75px;
  margin-top: 100px;
  border-radius: 40px;
  font-weight: bolder;
  border: 1px solid var(--GHBlue);
}
