.discount{
    /* border: 2px solid; */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
li{text-decoration: none;}

#prizes{
    background-color: var(--GHGreen);
}
#sponsor-img{
    height:60px;
    margin-left: 0%;
}

#sponsor-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.discount{
    animation: slideInAnimation 1s ease-in;
  }
  
  @keyframes slideInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .discount-list {
    list-style: none;
    padding: 0;
  }
  
  .discount-list li {
    margin-bottom: 10px;
    /* Add more custom styles as per your requirements */
  }
  .flashing-animation:hover{
    background-color: var(--GHGreen);
  }

  /* @keyframes flashingAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */
  
  .flashing-animation {
    animation: flashingAnimation 3s infinite;
    /* border: 2px solid; */
/* border-radius: 15px; */
border-bottom: 1px solid black;
display: flex;
padding-bottom: 110px;
text-align: center;
/* background-color: var(--GHBlue); */
margin-bottom: 10px;
height: 80px;
  }

  .honeycomb-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    height: 100vh;
    padding-bottom: 60px;
    flex-direction: column;
    grid-gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* align-items: first baseline; */
  }
  ul {
    list-style-type: none;
  }
  /* .flashing-animation {
    animation: flashingAnimation 1s infinite;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 50%;
  } */

  .websites{
    text-decoration: none;
  }
  .website-id{
   /* display: flex;
   flex-direction: column; */
   display: grid;
   text-align: left;
  }