:root {
  height: 100%;
  width: 100%;
}
/* body{width:100%} */
body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

* {
  --GHBlue: #3f7cac;
  --GHGreen: #8fe779;
}

.css-button-3d--sky {
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  min-width: 110px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3f7cac;
  box-shadow: 0 5px #184388;
}
.css-button-3d--sky:hover {
  background: 0 5px #8fe779;
  top: 1px;
}
.css-button-3d--sky:active {
  box-shadow: 0 0 #8fe779;
  top: 5px;
}

.css-button-3d--sand {
  min-width: 110px;
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #808284;
  box-shadow: 0 5px #474a4c;
}
.css-button-3d--sand:hover {
  background: 0 3px #7ed957;
  top: 1px;
}
.css-button-3d--sand:active {
  box-shadow: 0 0 #2f5021;
  top: 5px;
}
